.title {
  text-align: center;
}

/*tr,
th {
  border-collapse: separate;
  border: 1px solid #000;
}*/

th,
td,
thead {
  border: double black;
  border-collapse: separate;
}
.button {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
@media (max-width: 500px) {
  .button {
    width: 50%;
    font-size: 10px;
    padding: 12px;
  }
}
